body{
    background-color: gray;
}

.tipUsername{
    display: none;
    position: absolute;
}
.tipPassword{
    display: none;
    position: absolute;
}
.tipRetypePassword{
    display: none;
    position: absolute;
}
.tipEmail{
    display: none;
    position: absolute;
}